<div class="breadcrumb-section">
	<div class="container text-center position-relative">
		<h2>
			@ViewBag.Title
		</h2>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<i class="ti-angle-right"></i>
			</li>
			<li>
				@ViewBag.Title
			</li>
		</ul>
	</div>
	<div class="breadcrumb-img breadcrumb-img-1">
		<img src="~/images/breadcrumb-1.webp" alt="Breadcrumb 1" />
	</div>
	<div class="breadcrumb-img breadcrumb-img-2">
		<img src="~/images/breadcrumb-2.webp" alt="Breadcrumb 2" />
	</div>
</div>
